#institutes-page-template {
    width: 100%;
    height: 100%;
    display: block;
}


.filter-section {
    width: 100%;
    text-align: center;

}

.line {
    width: 100%;
    height: 2px;
    background: rgb(129, 129, 129);
    background: linear-gradient(90deg, rgba(129, 129, 129, 1) 0%, rgba(255, 255, 255, 0.8295693277310925) 46%, rgba(129, 129, 129, 1) 100%);
}

.add-button {
    position: absolute;
    top: 1%;
    right: 1%;
    padding: 0.6em;
    background-color: #7cec74;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    color: black;
    font-weight: bolder;
}

.add-button img {
    width: 1em;
}

.line {
    width: 100%;
    height: 2px;
    background: rgb(129, 129, 129);
    background: linear-gradient(90deg, rgba(129, 129, 129, 1) 0%, rgba(255, 255, 255, 0.8295693277310925) 46%, rgba(129, 129, 129, 1) 100%);
}

.filter-section h2 {
    padding: 1em 0;
    color: #CCCCCC;
}
.filter-section h3{
    padding: 0.5em 0;
    color: #ffffff;
}

header {
    background-color: #003366;
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
}

table {
    background-color: rgb(0 0 0 / 70%);
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    table-layout: auto;
}


table th,
table td {
    color: white;
    padding: 15px;
    text-align: left;
}

tbody {
    background: rgb(255 255 255 / 95%);
}

tr td {
    color: black;
}

tbody tr:hover {
    background-color: #cccccc;
}
tbody tr:nth-child(odd){
  background-color: rgb(162, 159, 159);
}

.fund:hover {
    text-decoration: underline;
}

.table-rows {
    border-bottom: 1px solid grey;
    border-top: 1px solid gray;
}

.filter {
    padding: 1.2em;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 0.5em;
}

#search-input {
    padding: 0.4em !important;
    border-radius: 5px !important;
    border: none !important;
}

.filter label,
.filter output {
    color: white;
    font-size: 1.2em;
}

.filter select {
    padding: 0.2em 1em;
    font-size: 1em;
}


.popup {
    display: flex;
    align-items: center;
    justify-content: space-evenly;;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    animation: slide-in 1s;
    background: rgb(0 0 0 / 73%);
  }
.slide-out {
    animation: slide-out 1.5s;
    transform: translateX(-120vw);
}  
  
  @keyframes slide-in {
    from {
      transform: translateX(-100vw);
    }
    to {
      transform: translateX(0%);
    }
  }
  @keyframes slide-out {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100vw);
    }
  }
  
  @keyframes leap {
    0% {
      transform: translateY(0);
    }
  
    7% {
      transform: scale(1);
    }
  
    25% {
      transform: scale(1.3);
    }
  
    50% {
      transform: scale(1);
      opacity: 0.5;
    }
  
    75% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  
  .dot {
    width: 25px;
    height: 25px;
    border-radius: 100%;
  }
  
  .dot:nth-child(1) {
    background-color: #ff4343;
    animation: leap 1s ease-in-out alternate 0.4s infinite;
  }
  
  .dot:nth-child(2) {
    background-color: #7e30e1;
    animation: leap 1s ease-in-out alternate 0.6s infinite;
  }
  
  .dot:nth-child(3) {
    background-color: #efe704;
    animation: leap 1s ease-in-out alternate 0.8s infinite;
  }


@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #848484;
        display: block;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .7em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

@media screen and (min-width: 600px) {
    .filter {
        flex-direction: row;
    }
}