<!DOCTYPE html>
<html>

<head>
    <title>Institutes Page</title>
    <link rel="stylesheet" href="./students.css">
    <link rel="stylesheet" href="../../css/admin_table.css">
    <link rel="stylesheet" href="../../css/message.css">
    
</head>

<body>
    <section class="popup">
        <section class="dot"></section>
        <section class="dot"></section>
        <section class="dot"></section>
    </section> 
    <section id="header" class="students">
    <section >
        <button onclick="toggleElement('add-admin')" id="add-admin-button" class="add-button"><img
                src="../../img/134224_add_plus_new_icon.png" alt="plus icon" /> STUDENT APPLICATION</button>
    </section>
    <section class="filter-section">
        <h2>Students Application</h2>
        <span id="alert" class="alert">This is an alert!</span>
        <section class="line"></section>
        <section class="filter">
            <label for="search-input">Search</label>
            <input type="text" id="search-input" placeholder="Search student...">
            <label for="money-range">Amount</label>
            <input type="range" id="money-range" min="0" max="125000" value="50000" oninput="displayValue(this.value)">
            <output id="display-value">50000</output>
            <label for="filter-options">Status</label>
            <select name="filter-options" id="filter-options">
                <option value="All">All</option>
                <option value="Approved">Approved</option>
                <option value="Rejected">Rejected</option>
                <option value="Pending">Pending</option>
                <option value="Documents">Documents</option>
            </select>
        </section>
    </section>
    <section id="students">
        <table>
            <thead>
                <tr>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">University</th>
                    <th scope="col">BursaryAmount</th>
                    <th scope="col">status</th>
                  
                </tr>
            </thead>
            <tbody id="results">
                <tr class="table-rows">
                    <td data-label="FirstName">No record was found.</td>
                    <td data-label="LastName"></td>
                    <td data-label="University"></td>
                    <td data-label="BursaryAmount"></td>
                    <td data-label="status" class="approved"></td>
                    <td class="viewButton"></td>
                </tr>
            </tbody>
        </table>
    </section>
    </section>

    <section id="registrationForm">
        <h1>Bursary Application</h1>
        <section class="cardbar">
    
        <!-- <fieldset class="card">
            <legend>Budget</legend>
            <label class="big-number">R1 000 000</label>
        </fieldset>
        <fieldset class="card">
            <legend>Balance</legend>
            <label class="big-number red">R200 000</label>
        </fieldset>
        </section> -->
    
        <form id="applicatonForm">
            <fieldset>
                <legend>Personal Details</legend>
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required>
    
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required>
    
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                
                <label for="IdentityNumber">Identity Number:</label>
                <input type="number" maxlength="13" id="IdentityNumber" name="IdentityNumber" required>
                
                <label for="phoneNumber">Phone Number:</label>
                <input type="number" id="phoneNumber" name="phoneNumber" required>
    
                <label for="race">Race:</label>
                <select class="selectUniversity" id="race" name="race">
                    <option value=2>Black</option>
                    <option value=5>Indian</option>
                    <option value=4>Coloured</option>
                </select>
                <label for="averageMarks">Average Marks:</label>
                <input type="number" id="averageMarks" name="averageMarks" min="65" max="100" required>
            </fieldset>
            <fieldset>     
                <legend>Bursary</legend>
                    <label for="bursaryAmount">Bursary Amount:</label>
                    <input type="number" id="bursaryAmount" name="bursaryAmount" required>
                    <label for="Motivation">Motivation:</label>
                    <textarea id="motivation" name="motivation" required></textarea>
           </fieldset>
            <fieldset>
            <button id="submit" type="submit">Submit</button>
            <button id="cancel" type="submit">Cancel</button>
            </fieldset>
            
        </form>
    </section>

    <section id="details" class="students">
        <section class="details">
           <h2>Student Details</h2>
           <section class="line"></section>
           <fieldset class="student-details">
            <legend>student details</legend>
               <label for="firstName">First Name:</label>
               <label id="firstName">John</label>
               <label for="lastName">Last Name:</label>
               <label id="lastName">Doe</label>
               <label for="IdentityNumber">Identity Number:</label>
               <label id="IdentityNumber">1234567890123</label>
               <label for="email">Email:</label>
               <label id="email">fgdffsf@</label>
                <label for="phoneNumber">Phone Number:</label>
                <label id="phoneNumber">1234567890</label>
           </fieldset>
           </section>
              <fieldset>
                <legend>Bursary</legend>
                <label for="university">University:</label>
                <label id="university">Wits</label>
                <label for="contactBursaryAmount">Bursary Amount:</label>
                <label id="contactBursaryAmount">R50000</label>
                <label for="status">Status:</label>
                <label id="status" class="approved">Approved</label>
              </fieldset>
            <fieldset>
                <legend>Documents</legend>
                <section class="student-details">
                    <label for="document1">CV:</label>
                    <a href="documents/cv.pdf" id="document1" target="_blank">View</a>
                    <label for="document2">Identity Document:</label>
                    <a href="documents/id.pdf" id="document2" target="_blank">View</a>
                    <label for="document3">Academic Record:</label>
                    <a href="documents/academic.pdf" id="document3" target="_blank">View</a>
                </section>
            </fieldset>
            <fieldset>
                <legend>Approval</legend>
                <section class="student-details">
                    <button id="approve" class="approve">Approve</button>
                    <button id="reject" class="reject">Reject</button>
                    <button id="cancel" class="cancel">Cancel</button>
                </section>
            </fieldset>
        </section>
    </section>



</body>
<script type="module">
    import { fetchStudents, filterStudentsByAmount,hideHodButton, addStudent, addHODNewStudent  } from './students.js';

    document.addEventListener('DOMContentLoaded', function () {
        fetchStudents();
      
        document.getElementById("filter-options").onchange = (e) => {
            fetchStudents(e.target.value, undefined);
        }
        document.getElementById("search-input").oninput = (e) => {
            fetchStudents(undefined, e.target.value);
        }
        document.getElementById("money-range").oninput = (e) => {
            displayValue(e.target.value);
            filterStudentsByAmount(e.target.value);
        }
        document.getElementById("cancel").onclick = (e) => {
            e.preventDefault();
            document.getElementById("registrationForm").style.display = "none";
            document.getElementById("header").style.display = "block";
            document.getElementById("details").style.display = "none";
            
        }

        //form submission
        document.getElementById("applicatonForm").onsubmit = (e) => {
            e.preventDefault();
            addHODNewStudent();
            setTimeout(() => {
                fetchStudents();
            }, 2000);
            document.getElementById("registrationForm").style.display = "none";
            document.getElementById("header").style.display = "block";
            document.getElementById("details").style.display = "none";
        }

        document.getElementById("add-admin-button").onclick = (e) => {
            e.preventDefault();
            document.getElementById("registrationForm").style.display = "block";
            document.getElementById("header").style.display = "none";
            document.getElementById("details").style.display = "none";
        }
        hideHodButton();
    });
</script>
<script>

</script>

</html>