<!DOCTYPE html>
<html>

<head>
    <title>Institutes Page</title>
    <link rel="stylesheet" href="./students.css">
    <link rel="stylesheet" href="../../css/admin_table.css">
</head>

<body>
    <section id="popup">
    </section>  
    <section id="header" class="students">
    <section id="add-institute-section">
        <button onclick="toggleElement('add-admin')" id="add-admin-button" class="add-button"><img
                src="../../img/134224_add_plus_new_icon.png" alt="plus icon" /> STUDENT APPLICATION</button>
    </section>
    <section class="filter-section">
        <h2>Students Application</h2>
        <section class="line"></section>
        <section class="filter">
            <label for="search-input">Search</label>
            <input type="text" id="search-input" placeholder="Search student..." >
            <label for="money-range">Amount</label>
            <input type="range" id="money-range" min="0" max="125000" value="125000" oninput="displayValue(this.value)">
            <output id="display-value">50000</output>
            <label for="filter-options">Status</label>
            <select name="filter-options" id="filter-options">
                <option value="All">All</option>
                <option value="Approved">Approved</option>
                <option value="Rejected">Rejected</option>
                <option value="Pending">Pending</option>
                <option value="Documents">Documents</option>
            </select>
        </section>
    </section>
    <section id="students">
        <table>
            <thead>
                <tr>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">University</th>
                    <th scope="col">BursaryAmount</th>
                    <th scope="col">status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="results">
                <tr class="table-rows">
                    <td data-label="FirstName">No record was found.</td>
                    <td data-label="LastName"></td>
                    <td data-label="University"></td>
                    <td data-label="BursaryAmount"></td>
                    <td data-label="status" class="approved"></td>
                    <td class="viewButton"></td>
                </tr>
            </tbody>
        </table>
    </section>
    </section>
</body>
<script type="module">
    import { fetchStudents, filterStudents, filterStudentsByAmount, searchStudents } from './students.js';

    document.addEventListener('DOMContentLoaded', function () {
        fetchStudents();

        document.getElementById("money-range").oninput = (e) => {
            filterStudentsByAmount(e.target.value);
           
        }

        document.getElementById("filter-options").onchange = (e) => {
            fetchStudents(undefined,e.target.value,undefined );
            
        }

        document.getElementById("search-input").onchange = (e) => {
           fetchStudents(undefined,undefined,e.target.value);
        }


    });
</script>
<script>

</script>

</html>