<!DOCTYPE html>
<html>

<head>
    <title>Institutes Page</title>
    <link rel="stylesheet" href="./students.css">
    <link rel="stylesheet" href="../../css/admin_table.css">
    <link rel="stylesheet" href="../../css/message.css">
</head>

<body>
    <section id="popup">
    </section>  
    <section id="header" class="students">
    <section id="add-institute-section">
        <button onclick="toggleElement('add-admin')" id="add-admin-button" class="add-button"><img
                src="../../img/134224_add_plus_new_icon.png" alt="plus icon" /> STUDENT APPLICATION</button>
    </section>
    <section class="filter-section">
        <h2>Students Application</h2>
        <span id="alert" class="alert">This is an alert!</span>
        <section class="line"></section>
        <section class="filter">
            <label for="search-input">Search</label>
            <input type="text" id="search-input" placeholder="Search student...">
            <label for="money-range">Amount</label>
            <input type="range" id="money-range" min="0" max="125000" value="50000" oninput="displayValue(this.value)">
            <output id="display-value">50000</output>
            <label for="filter-options">Status</label>
            <select name="filter-options" id="filter-options">
                <option value="All">All</option>
                <option value="Approved">Approved</option>
                <option value="Rejected">Rejected</option>
                <option value="Pending">Pending</option>
                <option value="Documents">Documents</option>
            </select>
        </section>
    </section>
    <section id="students">
        <table>
            <thead>
                <tr>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">University</th>
                    <th scope="col">BursaryAmount</th>
                    <th scope="col">status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="results">
                <tr class="table-rows">
                    <td data-label="FirstName">No record was found.</td>
                    <td data-label="LastName"></td>
                    <td data-label="University"></td>
                    <td data-label="BursaryAmount"></td>
                    <td data-label="status" class="approved"></td>
                    <td class="viewButton"></td>
                </tr>
            </tbody>
        </table>
    </section>
    </section>

    <section id="registrationForm">
        <h1>Bursary Application</h1>
        <section class="cardbar">
    
        <fieldset class="card">
            <legend>Budget</legend>
            <label class="big-number">R1 000 000</label>
        </fieldset>
        <fieldset class="card">
            <legend>Balance</legend>
            <label class="big-number red">R200 000</label>
        </fieldset>
        </section>
    
        <form id="applicatonForm" action="submit_application.php" method="post">
            <fieldset>
                <legend>Personal Details</legend>
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required>
    
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required>
    
                <label for="IdentityNumber">Identity Number:</label>
                <input type="number" maxlength="13" minlength="13" id="IdentityNumber" name="IdentityNumber" required>
            
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
    
                <label for="phoneNumber">Phone Number:</label>
                <input type="text" id="phoneNumber" name="phoneNumber" required>
    
                <label for="Race">Race:</label>
                <select class="selectUniversity" name="Race">
                    <option value="1">Black</option>
                    <option value="2">White</option>
                    <option value="3">Indian</option>
                    <option value="4">Coloured</option>
                </select>
            </fieldset>
            <fieldset>     
                <legend>Bursary</legend>
                   <label for="phoneNumber">Phone Number:</label>
                   <input type="text" id="phoneNumber" name="phoneNumber" required>
                   <label for="contactBursaryAmount">Bursary Amount:</label>
                   <input type="number" id="contactBursaryAmount" name="contactBursaryAmount" required>
           </fieldset>
            <fieldset>
            <button id="submit" type="submit">Submit</button>
            <button id="cancel" type="submit">Cancel</button>
            </fieldset>
            
        </form>
    </section>


</body>
<script type="module">
    import { fetchStudents, filterStudentsByAmount } from './students.js';

    document.addEventListener('DOMContentLoaded', function () {
        fetchStudents();

        document.getElementById("filter-options").onchange = (e) => {
            fetchStudents(e.target.value, undefined);
        }
        document.getElementById("search-input").oninput = (e) => {
            fetchStudents(undefined, e.target.value);
        }
        document.getElementById("money-range").oninput = (e) => {
            displayValue(e.target.value);
            filterStudentsByAmount(e.target.value);
        }
        document.getElementById("cancel").onclick = (e) => {
            e.preventDefault();
            document.getElementById("registrationForm").style.display = "none";
            document.getElementById("header").style.display = "block";
            
        }
        document.getElementById("submit").onclick = (e) => {
            e.preventDefault();
            document.getElementById("registrationForm").style.display = "none";
            document.getElementById("header").style.display = "block";
            fetchStudents();
        }
        document.getElementById("add-admin-button").onclick = (e) => {
            e.preventDefault();
            document.getElementById("registrationForm").style.display = "block";
            document.getElementById("header").style.display = "none";
        }
    });
</script>
<script>

</script>

</html>