<!DOCTYPE html>
<html>

<head>
    <title>Institutes Page</title>
    <link rel="stylesheet" href="../../css/admin_table.css">
    <link rel="stylesheet" href="./institute.css">

</head>

<body>
    <section id="add-institute-section">
        <button id="add-institute-button" class="add-button">
            <img src="../../img/134224_add_plus_new_icon.png" alt="plus icon" /> INSTITUTE
        </button>
    </section>
    <section id="header"></section>

    <section class="filter-section">
        <h2>INSTITUTES</h2>
        <section class="line"></section>
        <section class="filter">
            <label for="search-input">Search:</label>
            <input type="text" id="search-input" placeholder="Search institution...">
            <label for="filter-options">Status:</label>
            <select  name="filter-options" id="filter-options">
                <option value="All">All</option>
                <option value="Approved">Approved</option>
                <option value="Rejected">Rejected</option>
                <option value="Pending">Pending</option>
            </select>
        </section>


    </section>
    <section id="institutes">
        <table>
            <thead>
                <tr>
                    <th scope="col">Institute</th>
                    <th scope="col">Reviewer</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="results">
                <!-- Static content goes here -->
                <tr class="table-rows">
                    <td data-label="Institute">No record was found.</td>
                    <td data-label="Reviewer"></td>
                    <td data-label="Status" class="approved"></td>
                    <td>
                        <a class="fund" href="#"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
<script type="module">
    import { fetchAllInstitutes } from './institutes.js';

    document.addEventListener('DOMContentLoaded', function () {
        fetchAllInstitutes();
    });
</script>

</html>