<!DOCTYPE html>
<html>

<head>
    <title>Institutes Page</title>
    <link rel="stylesheet" href="../../css/admin_table.css">
    <link rel="stylesheet" href="./institute.css">
    <link rel="stylesheet" href="../../css/message.css">

</head>

<body>
    <section id="popup"></section>
    <section class="popup">
        <section class="dot"></section>
        <section class="dot"></section>
        <section class="dot"></section>
    </section>
  
    <section id="institute-page">
        <section>
            <button onclick="toggleElement('add-institute')" class="add-button">
                <img src="../../img/134224_add_plus_new_icon.png" alt="plus icon" /> INSTITUTE
            </button>
        </section>
        <section id="header"></section>

        <section class="filter-section">
            <h2>INSTITUTES</h2>
            <section class="line"></section>
            <section class="filter">
                <label for="search-input">Search:</label>
                <input type="text" id="search-input" placeholder="Search institution...">
                <label for="filter-options">Status:</label>
                <select  name="filter-options" id="filter-options">
                    <option value="-1">All</option>
                    <option value=2>Approved</option>
                    <option value=1>Pending</option>
                    <option value=3>Rejected</option>
                </select>
            </section>


        </section>
        <section id="institutes">
            <table>
                <thead>
                    <tr>
                        <th scope="col">Institute</th>
                        <th scope="col">Reviewer</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody id="results">
                    <!-- Static content goes here -->
                    <tr class="table-rows">
                        <td data-label="Institute">No record was found.</td>
                        <td data-label="Reviewer"></td>
                        <td data-label="Status" class="approved"></td>
                        <td data-label="Status" class="rejected"></td>
                        <td data-label="Status" class="pending"></td>
                    </tr>
                    
                </tbody>
            </table>
        </section>
    </section>

    <section id="add-institute">
        <section class="filter-section">
            <h2>Add an Institute</h2>
            <section class="line"></section>
        </section>
            <form id="add-institute-form">
                <button id="back-button" style="background-color: rgb(248, 140, 17); color: white; border: none; padding: 15px 32px; cursor: pointer; position: absolute; top: 10px; left: 10px;">Back</button>
                <input id="institute-name" placeholder="Institute name..." type="text"/>
                <select id="status">
                    <option value="-1">Status</option>
                    <option value=2>Approved</option>
                    <option value=1>Pending</option>
                    <option value=3>Rejected</option>
                </select>
                <select id="reviewer">
                    <option value="-1">Choose Reviewer</option>
                </select>
                <input id="institute-reprentative-first-name" placeholder="Institute representative first name..." type="text"/>
                <input id="institute-reprentative-last-name" placeholder="Institute representative last name..." type="text"/>
                <input id="institute-reprentative-phonenumber" placeholder="Institute representative phonenumber..." type="text"/>
                <input id="institute-reprentative-email" placeholder="Institute representative email" type="email"/>
                <input type="submit" value="ADD" />
            </form>
        </section>
    </section>

    <section id="update-institute">
        <section class="filter-section">
            <h2>Update Institute Status</h2>
            <section class="line"></section>
        </section>
            <form id="update-institute-form">
                <input id="update-institute-name" readonly type="text"/>
                <select id="update-status">
                    <option value=2>Approved</option>
                    <option value=1>Pending</option>
                    <option value=3>Rejected</option>
                </select>
                <input type="submit" value="UPDATE" />
            </form>
        </section>
    </section>
</body>
<script type="module">
    import { fetchAllInstitutes, setupPage, fetchAllReviewers, addInstitute } from './institutes.js';

    document.addEventListener('DOMContentLoaded', function () {
        setupPage();
        fetchAllInstitutes();
        fetchAllReviewers();

        document.getElementById("add-institute-form").onsubmit = (e) => {
            e.preventDefault();
            addInstitute();
        };

        let statusOption = document.getElementById("filter-options");
        statusOption.onchange = () => {
            if (statusOption.value !== "-1") {
                fetchAllInstitutes(statusOption.value);
            } else {
                fetchAllInstitutes();
            }
        };
    });
</script>
<script>
    document.getElementById('back-button').addEventListener('click', function() {
    window.location.href = 'institutes.html';
});
</script>

</html>