<!DOCTYPE html>
<html>

<head>
    <title>Institutes Page</title>
    <link rel="stylesheet" href="./admins.css">
    <link rel="stylesheet" href="../../css/admin_table.css">
    <link rel="stylesheet" href="../../css/message.css">
</head>

<body>
    <section id="popup"></section>
    <section class="popup">
        <section class="dot"></section>
        <section class="dot"></section>
        <section class="dot"></section>
    </section>
    <section id="admin-page">
        <section id="header">
        </section>
        <section>
            <button onclick="toggleElement('add-admin')" id="add-admin-button" class="add-button"><img
                    src="../../img/134224_add_plus_new_icon.png" alt="plus icon" /> ADMIN</button>
        </section>
        <section class="filter-section">
            <h2>ADMINS AND REVIEWERS</h2>
        </section>
        <section class="line"></section>
        <section id="institutes">
            <table>
                <thead>
                    <tr>
                        <th scope="col">Fullname</th>
                        <th scope="col">Email</th>
                        <th scope="col">Active</th>
                        <th scope="col">Role</th>
                    </tr>
                </thead>
                <tbody id="results">
                    
                    <tr class="table-rows">
                        <td data-label="Fullname">No record was found.</td>
                        <td data-label="Email"></td>
                        <td data-label="Active"></td>
                        <td data-label="Role"></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
    <section>

    </section>
    <section id="add-admin">
        <section class="filter-section">
            <h2>ADD ADMIN</h2>
            <section class="line"></section>
        </section>

        <form id="add-admin-form">
            <h3>Create new admin user.</h3>
            <article id="name-input-fields">
                <input id="first-name" placeholder="Firstname..." type="text" />
                <input id="last-name" placeholder="Lastname..." type="text" />
            </article>
            <input id="phone-number" placeholder="+27731561234" type="text" />
            <input id="email" placeholder="email" type="email" />
            <select id="role">
                <option value=-1>Select Role</option>
                <option value=2>Admin</option>
                <option value=4>Reviewer</option>
            </select>
            <input type="submit" value="SAVE" />
        </form>
    </section>

</body>
<script type="module">
    import { fetchAllAdmins, setupPage, addAdmin } from './admins.js';

    document.addEventListener('DOMContentLoaded', function () {
        setupPage();
        fetchAllAdmins();

        document.getElementById("add-admin-form").onsubmit = (e) => {
            e.preventDefault();
            addAdmin();
        };
    });
</script>
<script type="module" src="./admins.js"></script>

</html>